body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    background-color: rgba(29,29,29,1);
}
h1,h2 {color:white;margin:0 0 20px 0;padding:0;}
h3,h4 {color:#bababa;margin:0 0 15px 0;padding:0;}
a,a:visited {color:#2ecc71;}
a:hover,a:focus {color:#27ae60;}

.label-success {background-color:#2ecc71;}
.label-warning {background-color:#f1c40f;}
.label-danger {background-color: #e74c3c;}

.movie-title {font-size:32px;}
.movie-tagline {font-size:16px;text-transform:uppercase;}

.top {
    padding-top:20px;
}
.footer {
    color:#9d9d9d;
    background-color: #1d1d1d;
    border-top:1px solid #2f2f2f;
    margin-top:40px;
    text-align:center;
    padding:15px 0;
}
.footer p {margin:0;padding:0;}
.navbar-inverse {
    background-color: #1d1d1d;
    border-color: #2f2f2f;
}
.container>.navbar-header {
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-brand:hover {
}
.dropdown-menu {
    background-color: #1d1d1d;
    border-color: #2f2f2f;
}
.dropdown-menu>li>a {
    color:#9d9d9d;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    background:transparent;
}
.dropdown-menu .divider {
    background-color: #2f2f2f;
}

.thumbnail {
    padding:3px;
}
.thumbnail, .img-thumbnail {
    border:none;
    border-radius:0;
    position:relative;
}

th {text-align:center}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color:#2f2f2f;
}
.overview {
    font-size:16px;
    color:#cdcdcd;
}
.overview span {color:white}
.overview i {font-size:14px}

.pager {color:#919191}
.pager li>a {
    background:#171717;
    border-color: #2f2f2f;
}

.well {
    color:#919191;
    background:#171717;
    border-color: #2f2f2f;
}

.form-control {
    background:#1D1D1D;
    border-color:#3f3f3f;
    color:white;
}
.form-control:focus {
    border-color:#2ecc71;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(106,192,69,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(106,192,69,.6);
}
.form-control[disabled] {
    background:#333;
}
.btn-default {
    color:white;
    background:#2ecc71;
    border:none;
}
.btn-default:hover {
    background:#27ae60;
    color:white;
    border:none;
}

#search-group {
    position:relative;
}
#search-loading {
    display:none;
    color:white;
    position:absolute;
    right:10px;
    top:10px;
}
#search-results {
    position:absolute;
    top:42px;
    width:300px;
    background-color: #1d1d1d;
    border:1px solid #2f2f2f;
    display:none;
    z-index:50000;
}
#search-results ul {margin:0;padding:0;list-style:none}
#search-results li a {display:block;margin:0;padding:5px 10px;color:#9d9d9d}
#search-results li a:hover {color:white;text-decoration:none;background:#171717}
#search-results li a:after {clear:both;display:table;content:" ";}
#search-results img {float:left;margin-right:10px;width:40px;height:60px;}

a.label {color:white;}


.movie-buttons {
    background:rgba(47,47,47,.7);
    background: linear-gradient(to bottom,rgba(47,47,47,0.4) 0,rgba(47,47,47,.8) 100%);
    color:white;position:absolute;bottom:3px;left:3px;right:3px;}
.movie-buttons ul {list-style:none;margin:0;padding:0;}
.movie-buttons ul li {margin:0;padding:0;}
.movie-buttons li a {float:left;display:block;margin:0;color:white;padding:5px 10px;text-align:center;}
.movie-buttons li a:hover {text-decoration:none;}

.big-buttons {background:none;}
.big-buttons ul {list-style:none;margin:0;padding:0;}
.big-buttons ul li {margin:0;padding:0;}
.big-buttons li a {float:none;display:block;padding:10px 0;color:white;margin-bottom:10px;border-radius:3px;text-align:center;}
.big-buttons li a:hover {text-decoration:none;}
.big-buttons .add-remove-history {border:1px solid #16a085;background:rgba(29,29,29,.6)}
.big-buttons .add-remove-history:hover {background:#16a085;color:white}
.big-buttons .add-remove-watchlist {border:1px solid #8e44ad;background:rgba(29,29,29,.6)}
.big-buttons .add-remove-watchlist:hover {background:#8e44ad;color:white}
.big-buttons .add-remove-blocklist {border:1px solid #e74c3c;background:rgba(29,29,29,.6)}
.big-buttons .add-remove-blocklist:hover {background:#e74c3c;color:white}


.add-remove-history,
.add-remove-watchlist,
.add-remove-blocklist {
    font-size:16px;
}

.add-remove-history:hover {background:#1d1d1d;color:#16a085}
.history-active, .history-active:hover {background:#16a085 !important;color:white !important}

.add-remove-watchlist:hover {background:#1d1d1d;color:#8e44ad}
.watchlist-active, .watchlist-active:hover {background:#8e44ad !important;color:white !important}

.add-remove-blocklist:hover {background:#1d1d1d;color:#e74c3c}
.blocklist-active, .blocklist-active:hover {background:#e74c3c !important;color:white !important}

.movie-buttons-year {margin-left:5px;margin-top:5px;}
.movie-buttons-rating {position:absolute;top:5px;right:8px;}


.add-important,
.add-important:visited,
.add-important:hover,
.add-important:active,
.add-important:focus {
    color:#f1c40f;
}
.important {
    background:#f1c40f;
}

#movie-poster {
    margin-top:-200px;
    box-shadow: 0 0 20px 0px #666666;
}
.movie-poster {
    position:relative;
}
.poster-thumnail {
    box-shadow: 0 0 15px 0px #666666;
    position:relative;
    transition: background-color 0.5s ease;
}.poster-thumnail:hover {
    background: #2ecc71
}

#background-image {
    height:400px;
    margin-bottom:20px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-bottom:1px solid #2f2f2f;
    position:relative;
}

#background-overlay {
    width:100%;
    position:absolute;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    height:120px;
    bottom:0;
}

.main-content {}

/* Animation */
.spinner {
  -webkit-animation: spin 1300ms infinite linear;
  animation: spin 1300ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}