{% extends "base.html" %}
{% load extras %}
{% block title %}Activity{% endblock %}
{% block content %}

<div class="container top">
    <h1>Activity</h1>
    
    {% for a in activity %}
    <div class="row">
        <div class="col-md-2">
            <div class="thumbnail{% if user.is_authenticated and movie|is_important:user %} important{% endif %} poster-thumnail" id="movie-{{ movie.id }}">
                <a href="{{ a.movie.url }}" title="{{ a.movie.title }}" class="movie-poster">
                    <img class="poster" src="{{ a.movie.poster_small }}" alt="{{ a.movie.title }}">
                </a>
                {% if user.is_authenticated %}
                <div class="movie-buttons">
                    <ul>
                        <li><a href="#" class="add-remove-history{% if movie|in_history:user %} history-active{% endif %}" data-movie-id="{{ movie.id }}" title="Add to History">H</a></li>
                        <li><a href="#" class="add-remove-watchlist{% if movie|in_watchlist:user %} watchlist-active{% endif %}" data-movie-id="{{ movie.id }}" title="Add to Watchlist">W</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                {% endif %}
            </div>
        </div>
        
    
        <a href="/{{ a.user.username }}">{{ a.user.username }}</a> has {{ a.action }} on {{ a.movie.title }}<br/>
    </div>
    {% endfor %}
    
    <nav>
        <ul class="pager">
            {% if activity.has_previous %}
                <li class="previous"><a href="?{% url_replace request 'page' activity.previous_page_number %}"><span aria-hidden="true">&larr;</span> previous</a></li>
            {% endif %}
            <span class="current">{{ count }} movies found. Page {{ activity.number }} of {{ activity.paginator.num_pages }}.</span>
            {% if activity.has_next %}
                <li class="next"><a href="?{% url_replace request 'page' activity.next_page_number %}">next <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}