<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies - {% block title %}{% endblock %}</title>
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <link href="/static/plugins/bootstrap-4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main-2.0.0.css?v=4" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/search/">Discover</a></li>
            <li class="nav-item"><a class="nav-link" href="/latest/">Latest</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tops</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/top/imdb/">Top IMDb</a>
                    <a class="dropdown-item" href="/top/filmaffinity/">Top FilmAffinity</a>
                </div>
            </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/{{ user.username }}/watchlist/">Watchlist</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{ user.username }}/history/">History</a></li>
            <li class="nav-item"><a class="nav-link" href="/{{ user.username }}/blocklist/">Blocklist</a></li>
            {% endif %}
            
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link add-movie-link" href="/add/"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUserLink">
                    <a class="dropdown-item" href="/{{ user.username }}/">Profile</a>
                    <a class="dropdown-item" href="/settings/">Settings</a>
                    <a class="dropdown-item" href="/logout/">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
            {% endif %}
        </ul>
        
        <form action="/search/" method="get" autocomplete="off" class="form-inline">
            <div id="search-group" class="form-group">
                <input type="text" id="search-form" name="title" value="{{ search_query }}" class="form-control" placeholder="Quick search...">
                <i id="search-loading" class="fa fa-spinner fa-spin"></i>
                <div id="search-results"></div>
            </div>
        </form>
        
    </div>
</nav>

{% block content %}{% endblock %}

<div class="footer">
    <div class="container">
        <p>&copy; Movies</p>
    </div>
</div>

<script>
var user_id = {{ user.id|default_if_none:0 }};
var username = "{{ user.username }}";
var rating_mode = {{ request.session.rating_mode|default:1 }};
</script>
<script src="/static/js/jquery-1.12.1.min.js"></script>
<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script src="/static/plugins/bootstrap-4.0.0-beta/js/bootstrap.min.js"></script>
<script src="/static/js/main.js?v=30"></script>
{% block javascript %}{% endblock %}

</body>
</html>