{% load extras %}
<div class="row">
	{% for movie in movies %}

		<div class="item-image{% if user.is_authenticated and movie|is_important:user %} important{% endif %}" id="movie-{{ movie.id }}">
			<a href="{{ movie.url }}" title="{{ movie.title }}" class="movie-poster">
				<img class="poster" src="{{ movie.poster_small }}" alt="{{ movie.title }}">
				<div class="movie-buttons-year">{{ movie.release_date|date:'Y' }}</div>
				<div class="movie-buttons-rating">
					{% if movie.imdb_rating > 6.9 %}
						<span class="label label-success">{{ movie.imdb_rating }}</span>
					{% elif movie.imdb_rating > 4.9 %}
						<span class="label label-warning">{{ movie.imdb_rating }}</span>
					{% else %}
						{% if movie.imdb_votes > 0 %}
							<span class="label label-danger">{{ movie.imdb_rating }}</span>
						{% endif %}
					{% endif %}
				</div>
			</a>
		</div>
	{% endfor %}
</div>

<nav>
	<ul class="pager">
		{% if movies.has_previous %}
			<li class="previous"><a href="?{% url_replace request 'page' movies.previous_page_number %}"><span aria-hidden="true">&larr;</span> previous</a></li>
		{% endif %}
		<span class="current">{{ count }} movies found. Page {{ movies.number }} of {{ movies.paginator.num_pages }}.</span>
		{% if movies.has_next %}
			<li class="next"><a href="?{% url_replace request 'page' movies.next_page_number %}">next <span aria-hidden="true">&rarr;</span></a></li>
		{% endif %}
	</ul>
</nav>