{% extends "base.html" %}
{% block title %}{{ profile.username }}'s Watchlist{% endblock %}
{% block content %}

<div id="background-image" style="background:url({{ random_movie.backdrop }}) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div>
<div id="background-overlay"></div>

<div class="main-content">

<div class="container">
	<div class="row">
		<div class="col-md-9">
				<h1>{% if user == profile %}My Watchlist{% else %}<a href="/{{ profile.username }}">{{ profile.username }}</a>'s Watchlist{% endif %}</h1>
		</div>
		<!--
		<div class="col-md-3">
			<select class="form-control">
				<option>Release Date</option>
				<option>Added Date</option>
				<option>Title</option>
				<option>IMDB Rating</option>
				<option>IMDB Votes</option>
			</select>
		</div>
		-->
	</div>
	{% include 'movies.html' %}
</div>

</div>

{% endblock %}