{% extends "base.html" %}
{% block title %}{{ movie.title }}{% endblock %}
{% load humanize %}
{% load extras %}
{% block content %}

<div id="background-image" style="background:url({{ movie.backdrop }}) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div>
<div id="background-overlay"></div>

<div class="main-content">

<div class="container">
	<div class="row" id="movie-{{ movie.id }}">
		<div class="col-md-3">
			<img src="{{ movie.poster }}" id="movie-poster" class="img-responsive img-thumbnail{% if user.is_authenticated and movie|is_important:user %} important{% endif %}" alt="{{ movie.title }}">
			<br/>&nbsp;
		</div>
		
		<div class="col-md-7">
			<h1>{{ movie.title }} <small>({{ movie.release_date|date:"Y" }})</small>{% if user.is_authenticated and movie|in_watchlist:user %} <a href="#" class="add-important" data-movie-id="{{ movie.id }}">{% if movie|is_important:user %}<i class="fa fa-star"></i>{% else %}<i class="fa fa-star-o"></i>{% endif %}</a>{% endif %}</h1>
			<h3>{{ movie.tagline }}</h3>
			<p class="overview">{{ movie.overview }}</p>
			{% if movie.original_language != 'en' %}
			<p class="overview"><span>Original title:</span> {{ movie.original_title }}</p>
			{% endif %}
			<p class="overview"><span>Release:</span> {{ movie.release_date }}</p>
			
			<p class="overview"><span>Rating:</span>
				{% if movie.imdb_rating > 6.9 %}
					<span class="label label-success">{{ movie.imdb_rating }}</span>
				{% elif movie.imdb_rating > 4.9 %}
					<span class="label label-warning">{{ movie.imdb_rating }}</span>
				{% else %}
					{% if movie.imdb_votes > 0 %}
						<span class="label label-danger">{{ movie.imdb_rating }}</span>
					{% endif %}
				{% endif %}
			</p>
			
			<p class="overview"><span>Votes:</span> {{ movie.imdb_votes|intcomma }}</p>
			<p class="overview"><span>Runtime:</span> {{ movie.runtime }} min.</p>
			<p class="overview"><span>IMDb:</span> <a href="http://www.imdb.com/title/{{ movie.imdb_id }}/" target="_blank">{{ movie.imdb_id }} <i class="fa fa-external-link"></i></a></p>
			<p class="overview"><span>TMDb:</span> <a href="https://www.themoviedb.org/movie/{{ movie.id }}/" target="_blank">{{ movie.id }} <i class="fa fa-external-link"></i></a></p>
			<p class="overview"><span>Added by:</span> <a href="/{{ movie.user.username }}">{{ movie.user.username }}</a></p>
			
			{% if cast %}
			<div class="row">
				{% for person in cast %}
				<div class="col-md-2">
					<a href="{{ person.url }}" title="{{ person.name }}" class="person-tooltip"><img src="{{ person.image }}" class="img-responsive"></a>
				</div>
				{% endfor %}
				<br/>&nbsp;
			</div>
			{% endif %}
			
			{% if user.is_authenticated %}
			<p class="overview"><span>Actions:</span></p>
			<div class="movie-buttons">
			<ul>
				<li><a href="#" class="add-remove-history{% if movie|in_history:user %} history-active{% endif %}" data-movie-id="{{ movie.id }}">History</a></li>
				<li><a href="#" class="add-remove-watchlist{% if movie|in_watchlist:user %} watchlist-active{% endif %}" data-movie-id="{{ movie.id }}">Watchlist</a></li>
				<li><a href="#" class="add-remove-blocklist{% if movie|in_blocklist:user %} blocklist-active{% endif %}" data-movie-id="{{ movie.id }}">Blocklist</a></li>
			</ul>
			<div class="clearfix"></div>
			</div>
			<br/>
			{% endif %}
			
			{% if user.is_authenticated and user.is_superuser %}
				<p class="text-right"><a href="#" class="update-movie-ajax" data-movie-id="{{ movie.id }}">Update movie info</a></p>
			{% endif %}
		</div>
		
		<div class="col-md-2">
			{% if history_users %}
				<h4>History users</h4>
				{% for user in history_users %}
					<a href="/{{user.user.username}}">{{user.user.username}}</a><br/>
				{% endfor %}
				<br/>
			{% endif %}
			
			{% if watchlist_users %}
				<h4>Watchlist users</h4>
				{% for user in watchlist_users %}
					<a href="/{{user.user.username}}">{{user.user.username}}</a><br/>
				{% endfor %}
				<br/>
			{% endif %}
		</div>
	</div>
</div>

</div>

{% endblock %}